/* Reference Generator */
.editable {
    border: 1;
    text-align: left;
    display: inline-block;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
}

/* found this online --- it prevents the user from being able to make a (visible) newline */
[contenteditable=true] br{
  display:none;
}